@use 'global' as * ;
@use 'mixin' as * ;

.impressumPage {
    padding-top: 200px;
    padding-bottom: 300px;
    div {
        padding-bottom: 1.2rem;
        h2{
            border-bottom: $primery-border;
            padding-bottom: .5rem;
        }
        h3 {
            padding: .4rem 0;
        }
        p {
            padding: .3rem 0;
        }
        li {
            padding: .3rem 0;
        }
    }
}