@use 'global' as * ;
@use 'mixin' as * ;
@use 'stylingMix' as * ;


.LeistungenPageBackround {
      background-image: url('../img/leistungenCover.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 400px;
      display: flex;
      align-items: center;
      padding-top: 4rem;
      position: relative;
      div {
          border-top: 1px solid $primary-background;
          width: 100%;
          z-index: 3;
          h1 {
              @include titleXXL($primary-background);
              letter-spacing: .4rem;
          }
      }
    }
    .backdrop {
/*         position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left:0;
        background: linear-gradient(180deg, rgba(250,251,255,0) 0%, rgba(0,0,0,0.5914959733893557) 62%); */

        @include overlay;
        z-index: 2;
    }

    .leistungenPage {
        padding-top: $spacing-larg ;
        article {
            margin-bottom: $spacing-larg;
            h1 {
                @include titleMedium($primary-color);
                margin-bottom:$spacing-medium;
            }
            h2 {
                margin-bottom: $spacing-medium;
                font-size: 1.2rem;
            }
            .listContainer {
                border-top: 1px solid #000;
                padding-top: $spacing-medium;

                div {
                    padding-bottom: .5rem;
                    display: flex;
                    align-items: start;
                    column-gap: .8rem;
                    img {
                        width: 25px;
                    }
                    p {
                        @include standardText($primary-color);
                    }

                }
            }
        }
    }