@use 'global' as * ;
@use 'mixin' as * ;
@use 'stylingMix' as * ;

$media-max-medium : 665px ;
$media-min-medium : 742px ;

$media-max-small : 665px ;

$cover-text-small : 3rem ;
$cover-text-small-padding :1rem;



@media screen and (max-width: $media-max-small) {
    //uberUns
    .uberunsPageBackground {
        div {
            h1 {
                padding-top: $cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .uberUnsPage {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        .animatedItmes {
            h1 {
                font-size: 4rem;
            }
        }
        .textContinerUberUns {
            border-top: none;
        }
    }
    //references 
    .referecePageBackround {
        div {
            h1 {
                padding-top:$cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .referencPage {
        .referencMenu {
            .radio-inputs {
                width: 100%;
           /*      background-color: red; */
           border-bottom: 1px solid black;
            }
        }
        .displayReference {
            article {
                .referencCards {
                    .referencCard {
                        display: grid;
                        grid-template-columns: 1fr;
                        .referencText {
                            height: fit-content;
                            max-width: 100%;
                            margin-inline: auto;
                            p {
                                font-size: 1.3rem;
                            }
                        }
                        .imgSliderWrapper {
                            width: 100%;
                            height: 260px;
                            margin-inline: auto;
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }
    }
    //contact 
    .kontktPageBackground {
        div {
            h1 {
                padding-top:$cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .kontaktPage {
        .contactDetails {
            div {
                img {
                    width: 35px;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
        
    }
    //leistungen
    .LeistungenPageBackround {
        div {
            h1 {
                font-size: $cover-text-small;
                padding-top: $cover-text-small-padding;
            }
        }
    }
    .leistungenPage {
        article {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.2rem;

            }
            .listContainer {

            }
        }
    }







}


/* @media (min-width: $mq-desktop) {
    :root {
        --font-size-regular: 18px;
        --gutter: 1.75rem;
    }
} */


/* @media screen and (max-width: 1170px) {$base_width: 960px;}
@media screen and (min-width: 1171px) {$base_width: 1160px;} */


/* @media (min-width: 768px) and (max-width:){
    
} */