@use 'global' as * ;
@use 'mixin' as * ;
@use 'stylingMix' as * ;

$media-max-medium : 665px ;
$media-min-medium : 742px ;

$media-max-small : 665px ;

$cover-text-small : 3rem ;
$cover-text-small-padding :1rem;

$font-size-title-home :2.5rem ;

@media (max-width: 835px) {
    .contactForm {
        grid-template-columns: 1fr;
        border-bottom: none;
        border-top: none;
        padding: 2rem 0;
        .textContainerContact {
            height: auto;
            h1 {
                margin-bottom: 1rem;
            }
            .textHighlight {
                font-size: 3rem;
            }
        }
        .contactFormConteiner{
            form {
                .contactButton {
                    border-radius: 30px ;
                    border: 1px solid $primary-color;
                    margin: 1rem 0;
                }
            }
        }
    }
}

@media screen and (max-width: $media-max-small) {
    //Home 
    .hero {
        background-image: url('../img/heroImg/dylan-mcleod-4zqvu9dyvSk-unsplash.jpg') !important;
        /* background-attachment: scroll !important; */
        background-attachment: fixed !important;
        min-height: 799px !important;
        align-items: start !important;
        padding-top: 8rem;
       /*  overflow: hidden; */
       .heroBlur {
        height: 100%;
      }
        .heroTitleContainer {
            height: auto;
            article {
                margin: 0 auto !important;
                
                .titleHighlight {
                 
                    font-size: 2.5rem !important;
                }
                h1 {
                    font-size: 1.6rem !important;
                }
            }
        }
    }
    .infosSContainer {
        padding: $section-paddingL 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        h1 {
            font-size: 2rem !important;
            line-height: 1.2 !important;
            
            span {
                font-size: $font-size-title-home !important;
                line-height: 1.2 !important;
                margin-bottom: 1rem;
            }
           /*  text-align: center; */
        }
    }
    .imageTextOutContainer {
        .iconsContainerHomeLeistung {
            h2 {
                /*  @include titleSmall($primary-color); */
                font-size: $font-size-title-home !important;
             }
        }
    }
    .blogHome {
        border-bottom: 1px solid $primary-color;
        margin-bottom: 2rem;
    }
    //uberUns
    .uberunsPageBackground {
        div {
            h1 {
                padding-top: $cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .uberUnsPage {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        .animatedItmes {
            h1 {
                font-size: 4rem;
            }
        }
        .textContinerUberUns {
            border-top: none;
        }
    }
    //references 
    .referecePageBackround {
        div {
            h1 {
                padding-top:$cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .referencPage {
        .referencMenu {
            .radio-inputs {
                width: 100%;
            }
        }
        .displayReference {
            article {
                .referencCards {
                    .referencCard {
                        margin-bottom: 2rem;
                        border-radius: 1.2rem;
                        display: grid;
                        grid-template-columns: 1fr;
                        overflow-x: hidden;
                        width: 99%;
                        margin-inline: auto;
                        .referencText {
                            border-top: none;
                            border-bottom: 1px solid $primary-color;
                            padding-top: 0;
                            padding-bottom: 1rem;
                            height: fit-content;
                            max-width: 100%;
                            margin-inline: auto;
                            p {
                                font-size: 1.3rem;
                            }
                        }
                        .imgSliderWrapper {
                            width: 100%;
                            max-width: 100%;
                            height: 250px;
                            margin-inline: auto;
                           /*  margin: 1rem 0; */
                        }
                    }
                }
            }
        }
    }
    //contact 
    .kontktPageBackground {
        div {
            h1 {
                padding-top:$cover-text-small-padding;
                font-size: $cover-text-small;
            }
        }
    }
    .kontaktPage {
        .contactDetails {
            div {
                img {
                    width: 35px;
                }
                p {
                    font-size: 1.2rem;
                }
            }
        }
        
    }
    .contactForm {

    }
    //leistungen
    .LeistungenPageBackround {
        div {
            h1 {
                font-size: $cover-text-small;
                padding-top: $cover-text-small-padding;
            }
        }
    }
    .leistungenPage {
        article {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.2rem;
            }
            .listContainer {

            }
        }
    }
    //footer
    footer {
        article {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            nav {
               .Links{
                width: 100%;
                text-align: center;
                font-size: 1.2rem ;
                margin-bottom: .3rem;
               }
            }
            div {
                ul {
                    li {
                        display: none;
                    }
                    li:last-of-type{
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }



}


/* @media (min-width: $mq-desktop) {
    :root {
        --font-size-regular: 18px;
        --gutter: 1.75rem;
    }
} */


/* @media screen and (max-width: 1170px) {$base_width: 960px;}
@media screen and (min-width: 1171px) {$base_width: 1160px;} */


/* @media (min-width: 768px) and (max-width:){
    
} */