.onOutContainer {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    .onboardingContainer {
        max-width: 600px ;
      
        padding: 1.2rem 1.4rem ;
        display: flex ;
        flex-direction: column;
        row-gap: 1rem;
        .onLogoContainer {
            /* border: 25px solid black; */
            
            border: 25px solid #04ADEF;
            width: 550px;
            height: 550px;

            display: flex;
            justify-content: center;
            align-items: center;
            .onLogoC {
                padding: 2rem;
    
                .onLogo {
                    cursor: pointer;
                    max-width: 100%;
                    /* border-right: 30px solid black; */
                    border-top: 25px solid #04ADEF;
                    padding-top: 15px;
                    
                   /*  filter: grayscale(1); */
                }
            }
        }
        .onText {
            text-align: center;
            font-size: 1.5rem;
        }
        .onLinksContainer {
            display: flex;
            justify-content: center;
            column-gap: .3rem;
            font-size: 1.8rem;
            a {
               text-decoration: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .onOutContainer {
        .onboardingContainer {
   
            width: 80%;

            .onLogoContainer {
            
                width: 100%;
                height: fit-content;

                .onLogoC {
                    padding: 2rem;
        
                    .onLogo {
                     
                        
                       /*  filter: grayscale(1); */
                    }
                }
            }

            .onText {
                font-size: 1.1rem;
            }
            .onLinksContainer {
                font-size: 1.5rem;
            }
        }

        
    }
    
}