@use 'global' as * ;
@use 'mixin' as * ;
@use 'stylingMix' as * ;

$darkTextColor : rgb(129, 128, 128);
.referecePageBackround {
    position: relative;
    background-image: url('../img/referenceBackground-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ; 
/*     background-attachment: scroll; */
min-height: 500px;
    display: flex;
    align-items: center;
    padding-top: 4rem;
    div {
        border-top: 1px solid $primary-background;
        width: 100%;
        z-index: 4;
        h1 {
            @include titleXXL($primary-background);
            letter-spacing: .4rem;
        }
    }

}

.referencPage {
    position: relative;
    .referencMenu {
            .radio-inputs {
                z-index: 99;
                position: sticky;
                top: 0px;
                flex-wrap: wrap;
                display: flex;
                background-color: $primary-background;
                gap: 1rem;
                padding: .5rem;
               
                .radio {
                    flex: 1 1 auto;
                    text-align: center;
                    color: $primary-color;
              /*       border-right: $primery-border; */
                    input {
                        display: none;
                    }

                      input:checked + .name {
                        transform: translateY(.2rem);
                      }
                    
                      input:checked + .name:after {
                        position: absolute;
                        bottom: 0;
                        content: '';
                        text-align: start;
                        height: 2px ;
                        border-radius: 1rem;
                        width: 100%;
                        background-color: $color-highlight;
                      }

                    .name {
                        letter-spacing: .1rem;
                        color: $primary-color;
                        position: relative;
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        padding: .9rem 0;
                        transition: all .15s ease-in-out;
                      }
                  }
              }

            .displayReference {
               margin-top: 2rem;
                min-height: 500px;
                padding:2rem 0;
                margin-bottom: 6rem;
   
                article {
                    /* width: 100%; */
                    display: none;
                    .referencCard {
                        display: flex;
                        gap: 2rem;
                        align-items: center;
                        margin: 2rem 0;
                        background-color: rgba(255, 255, 255, 0.254);
                        border-radius: 2rem;
                        .referencText {
                        /*     border-top: 2px solid #5c5c5c; */
                            width: 100%;
                            max-width: 50%;
                            display: flex;
                            flex-direction: column;
                            height: 300px;
                            padding-top: .8rem;
                         
                           
                            span {
                            
                               /*  margin-right: .5rem;
                                font-weight: 400; */
                                display: none;
                            }
                            p {
                                margin: .5rem 0;
                                line-height: 1.6rem;
                                font-size: 1.5rem;
                                line-height: 2rem;
                            }
                            p:nth-of-type(2) , p:nth-of-type(3) {
                                display: none;
                            }
                        }
                
                        .imgSliderWrapper {
                            width: 400px;
                            height: 300px;
                            min-width: 300px;
                            position: relative;
                            overflow: hidden;
                            border-radius: 2rem 0 0 2rem;
                           
                            .imgSlider {
                             
                                width: 100%;
                                height: 100%;
                                display: flex;
                                overflow-x: auto;
                                scroll-snap-type: x mandatory;
                              
                                scroll-behavior: smooth;
                               /*  scroll-padding-inline: 1rem; */
                                scrollbar-width: none;
                                overflow: -moz-scrollbars-none;
                               
                                img {
                                    /* aspect-ratio: 16/11; */
                                    flex: 1 0 100%;
                                    object-fit: cover;
                                    scroll-snap-align: start;
                                    width: 100%;
                                    height: 100%;
                                    background-color: red;
                                 /*    height: 100%; */
                                }
                            }
                            .imgSlider::-webkit-scrollbar {
                                display: none;
                            }
                        
                            .nextButton,
                            .prevButton {
                               width: 3rem;
                               height: 3rem;
                               position: absolute;
                               top: 50%;
                               transform: translateY(-1.5rem);
                               border:none;
                               background: none;
                               opacity: .7;
                               transition-duration: .3s;
                          
                               img {
                                width: 100%;
                                border-radius: 50%;
                                border: 1px solid aliceblue;
                                background-color: aliceblue;
                               }
                           }
                           .nextButton {
                               right: 1.5rem;
                           }
                           .prevButton {
                               left: 1.5rem;
                           }
                        }
                    }
                }
                
                article:first-of-type{
                    display: block;
                  
                }

            }
    }
}

@media (max-width: 600px) {
    /* .radio-inputs {
      flex-direction: row-reverse;
    } */
    .radio:nth-child(2) , .radio:nth-child(1) {

        min-width: 40%;
    }
    .radio {
        .name {
            justify-content: start !important;
        }
    }

  }