//import 
@use 'mixin' as * ;
@use 'stylingMix' as * ;
@use 'global' as *;
@forward 'preLoader';
@forward 'header';
@forward 'footer';



//Pages 
@forward 'impressum';
@forward 'referenc';
@forward 'leistungen';

//import 
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */


//Global values 
*{
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
    color: $primary-color;

}

body {
    font-family: $primary-font;
    background-color: $primary-background;
    position: relative;
    /* cursor: none; */
    scroll-behavior: smooth;
    overscroll-behavior: none;
    overflow-x: hidden;

    main {
        min-height: 100vh;
        .hero {
            overflow-y: hidden;
            padding-bottom: $section-padding;
              background-image: url('../img/heroImg/dorian-mongel-5Rgr_zI7pBw-unsplash.jpg');
            background-attachment: fixed;
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 800px;
            display: flex;
            justify-content: start;
            align-items: center;
            position: relative;
            z-index: 5;
            .heroBlur {
                width: 100%;
                height: 120%;
                position: absolute;
                z-index: 7;
            }
           .heroTitleContainer {
         /*  background-image: url('../img/heroImg/optma-min.png');  */
         
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center left;
            width: 100%;
            max-width: $max-width;
            margin-inline: auto;
            height: 330px;
            z-index: 8;
            .angebotsSatzOben {
                @include primeryButtonDark ;

                .titleHighlight {
                    @include titleBold($primary-background);
                 }
             
                  h1 {
                     color: #fff;
                     font-size: 2rem;

                  }
           
             }
           }



        }

        .outContainer {
            max-width: $max-width;
            margin-inline: auto;
            @media (max-width: $max-width) {
                padding-inline: 1.2rem;
              }
        }

        .infosSContainer {
            padding: $section-paddingL 0;
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            h1 {
                @include titleLarg($primary-color);
                line-height: 1.5;
                
                span {
                    @include titleMedium($primary-color);
                    line-height: 1.5;
                    display: inline-block;
                }
               /*  text-align: center; */
            }
            .infosS {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap-reverse;
                row-gap: $spacing-larg;
                column-gap: 3rem;
                div {
                    border-top: 1px solid $primary-color;
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    row-gap: 3rem;
                    align-items: start;
                    justify-content: start;
                    padding-top: 3rem;
        
                    .iconForInfos {
                        position: relative;
                        z-index: 4;
                        width: 70px;
                        img {
                            position: relative;
                            width: 70PX;
                           z-index: 4;
                        }
                    }
                    .iconForInfos:after {
                        @include icon-background($primary-color);
                    }

                    p{
                        @include icon-description($primary-color);
                        max-width: 20ch;
                        max-width: 300px;
                       /*  text-align: center; */
                        z-index: 3;
                    }
    
                }
            }
        }

        .outFull {
            width: 100vw;
            background-color: $primary-color;
            padding:  $spacing-larg 0;

            .imageTextOutContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                .iconsContainerHomeLeistung {
                    padding-top: $section-padding;
                   
                    width: 100%;
                    h2 {
                        /*  @include titleSmall($primary-color); */
                        @include titleMedium($primary-background);
                        margin-bottom: 2rem;
                     }

                     .iconsTextContainer {

                        div {
                            /*  display: flex;
                             column-gap: 1rem; */
                             .iconsLeistungen{
                                 border-top: $primery-border;
                                 display: flex;
                                 align-items: center;
                                 gap: 1.5rem;
                                 padding-top: 1rem;
                                 padding-bottom: 1rem;
                                 .iconL {
                                     background-color: $color-highlight;
                                     width: 50px;
                                     padding: 5px;
                                 }
                                 p {
                                     @include standardText($primary-background);
                                 }
         
                             }
     
                          }
                     }
                } 
            }
        }

        .blogHome {
            min-height: 400px;
        }
    }
}






